@media (max-width: 700px) {
    
    .text-box  h1{
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: .5s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }

    /* Course Section */
    
    .row {
        display: flex;
        flex-direction: column;
    }

    /* Review */

    .testimonial-col img {
        margin-left: 0px;
        margin-right: 15px;
        border-radius: 50%;
        margin-top: 15px;
    }

    .stars i{
        padding-left: 5px;
    }

    /* Call To Action */

    .call-to-action h1{
        font-size: 18px;
    }

    /* Our Certificate */

    .sub-header h1 {
        font-size: 24px;
    }
}